*{
	margin:0px;    /*外间距为0*/
	padding: 0px;  /*内间距为0*/
}
a{
	text-decoration: none;  /*去除a标签文本下划线*/
}
a:hover{
	cursor:pointer;  /*当鼠标悬浮到a标签上时，显示小手图标*/
}


/*有关右侧区域的相关css样式*/
.content form{
	width: 100%;
	height: 60px;
	padding: 17px 50px;
}
.pagination-container{
	float: right;
}
