*{
	margin:0px;    /*������Ϊ0*/
	padding: 0px;  /*�ڼ���Ϊ0*/
}
a{
	text-decoration: none;  /*ȥ��a��ǩ�ı��»���*/
}
a:hover{
	cursor:pointer;  /*������������a��ǩ��ʱ����ʾС��ͼ��*/
}
body{
	overflow: hidden;
}
header{
	height: 44px;
	background-color: #F7819F;
}
.headerRight{
	float: right;
	width: 550px;
	height: 100%;
	color: #f1f1f1;
	line-height: 44px;
	font-size: 14px;
}
.headerRight a{
	color: #f1f1f1;
	font-weight: bold;
}
.left {
    height: 650px;
    background: #f2dde252;
}
.menu{
	margin-top: 20px;
}
.menu li{
	list-style: none;
	height: 30px;
	width:100%;
	text-align: center;
	line-height: 30px;
	color:#a2989b;
}
.menu>li:hover{
	background-color: #c5bbc3;
	color:white;
}
.menu>li:hover>a{
	color:white;
	text-decoration: none;
}
.menu li>a{
	color:#937f88;
}
.sub-menu{
	display: none;
}
.sub-menu a{
	margin-right:65px;
}
.active>ul{
	display: block;
}
.sub-menu a:hover{
	text-decoration: none;
}


